body {
    border: 1px solid black;
    font-family: 'Times New Roman', Georgia, Times, sans-serif;
}

.me {
    margin: 5px 0px;
    padding: 5px;
}

.my-name {
    padding: 5px 3px;

    background-color: rgba(57, 60, 126, 0.5);

    -webkit-box-shadow: 11px -10px 35px 10px rgba(34, 60, 80, 0.18);
    -moz-box-shadow: 11px -10px 35px 10px rgba(34, 60, 80, 0.18);
    box-shadow: 11px -10px 35px 10px rgba(34, 60, 80, 0.18);
}

nav > section {
    margin: 7px;
}

#world, #vk, #tg {
    background-color: aliceblue;
}

main > section {
    margin: 15px;
    padding: 5px;

    -webkit-box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
}

.small-block {
    margin-right: 10px;
}

nav {
    background-color: rgb(228, 228, 228);
}

li, dd {
    padding-left: 15px;
}

aside {
    margin: 15px;
    padding: 5px;

    -webkit-box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
}

aside section {
    margin-top: 10px;

    -webkit-box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 47px 15px rgba(34, 60, 80, 0.2);
}

aside section:first-child {
    margin-top: 0;
}